body {
    background-color: beige;
}

.container {
    margin-top: 10px;
    text-align: center;
    background-color: white;
}

.fullblock {
    margin: 10px;
    padding: 10px;
    width: 100%;
    background-color: darkslateblue;
}

.newwell {
    margin: 10px;
    height: 150px;
    margin-bottom: 30px;
}

.newprojecttitle {
    margin: 10px;
}

#projects {
    width: 100%;
}

.title {
    text-align: left;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: bold;
}

.delete {
    text-align: right;
}

li {
    margin-left: 10%;
    width: 80%;
}

.status_column {
    padding: 10px;
    height: 100%;
}

.status_container {
    background-color: white;
    min-height: 250px;
    padding: 10px;
}

.header {
    padding: 10px;
}

.stampwell {
    margin: 10px;
    height: 100px;
    margin-bottom: 30px;
}

.italics {
    font-style: italic;
    font-weight: bold;
}

.ticket {
    margin: 10px;
}

.on_board {
  display: none;
}

.off_board {
  display: block;
  height: 500px;
  color: white;
  padding-top: 50px;
}

#hand {
  text-align: left;
  padding-left: 20px;
  font-size: 2em;
}

#info {
  font-size: 2em;
}

#toFill {
  font-style: italic;
  font-weight: bold;
}

.newwellbase {
  display: block;
  height: 150px;
}

.newwellcreate {
  display: none;
  height: 150px;
}

.ticketcontentplace {
  margin-top: 20px;
}
