<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Sexy boards</title>
<script type="text/javascript" src="/static/js/home.js"></script>
<link rel="stylesheet" href="style.css">
</head>

<body>
    
    <img class='displayed' src="logo.jpg" /><br><br>

    <ul id="boards">
        <li><a href="#">Board1</a></li>
        <li><a href="#">Board2</a></li>
        <li><a href="#">Board3</a></li>
        <li><a href="#">Board4</a></li>
        <li><a href="#">Board5</a></li>
    </ul>

    <div class="createbtn">
        Add
    </div>

    <div class="footer">a Porn<div class="hub">starZ</div> production | Codecool 2016</div>
</body>

</html>
