<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/static/js/home.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <ul>

            <li>
                <div class="board">Board1</div>
            </li>
            <li>
                <div class="board">Board2</div>
            </li>
            <li>
                <div class="board">Board3</div>
            </li>
            <li>
                <div class="board">Board4</div>
            </li>
            <li>
                <div class="board">Board5</div>
            </li>
            <li>
            <div class="createbtn">Create New +</div>
            </li>

</ul>
</body>
</html>